
 $main_col : rgba(2, 5, 52, 0.963);

.App{
  font-family: 'PT Sans', sans-serif;
  background-color: whitesmoke;
  * :is(h1,h2,h3 ){
    margin :0 ;
  }
  *{
    box-sizing: border-box;
  }
  & .headersection{

    background-color: $main_col;
    display: flex;
    color: white;
    padding: 1rem;
    user-select: none;
    & img{
      width: 64px;
      height: 64px;
    }
    & h1{
      width: 100%;
      font-size: 1.6rem;
      display: flex;
       
      align-items: center;
      font-family: 'Noto Sans', sans-serif;
    }
  }
  & .mainSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    & :is(h1,h2){
      margin: 0;
    }
    & .col_1{
      width: 100%;
      background-color: $main_col;
      padding: 2rem;
      display: flex;
      justify-content: center;
    & .mainhead{
      display: flex;
      align-items: center;
      padding: 2rem;
      & .icon{
          font-size: 6rem;
          text-align: center;
          margin:0 1rem 0.5rem 1rem;
      }
      & h2{
        margin: 0;
        letter-spacing: 0.2mm;
        font-size: 1.8rem;text-align: center;
      }
      & h3{
        font-size: 1.3rem;
        letter-spacing: 0.2mm;
      }
    }
  }
    & .maininputSection{
      padding: 1.6rem;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      width: 60% ;
      margin-top: -3rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      color: $main_col;
      flex-wrap: wrap;
      & .inputContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: min-content;
        gap: 0.5rem;
      & .input{
        padding:0.7rem;
        width: 80%;
        font-size: 1.1rem;
        border: 2px solid rgba(79, 78, 78, 0.907);
        border-radius: 4px;
        &::placeholder{
          font-size: 1rem;
          font-weight: 500;
        }
        &:focus{
          outline: none;
          border: 2px solid $main_col ;
          
        border-radius: 4px;
        }
      }

      & .btn{
        padding: 0.6rem;
        font-size: 1rem;
        background-color: $main_col;
        color: white;
        font-weight: 500;margin-left: 10px;
      }
      
    }
      & .note{
        color: red;
        font-size: 0.8rem;
        padding-top: 8px;
        letter-spacing: 0.1mm;
      }

    }
    
  }
  & .instruction{
      
    padding:2rem;
    & .instr_head{
      display: flex;
      align-items: center;
      & .icon{
        margin-right: 4px;
        font-size: 40px;
      }
      & h2{

        font-weight: 600;
        font-size: 1.2rem;
        color:black;
        font-family: 'Roboto Slab', serif;
      }
    }
    & .instructionContainer{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
        gap: 1rem;
        padding: 12px;
      & .imgContainer{
        width: 360px;
      
        & .instruction{
            background-color: $main_col;
            color: white;
            font-size: 1.1rem;
        }
      }
    }
  }
  & .viewResult{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem;
     & .btn{
       color: white;
    background-color: rgb(42, 42, 124);
       padding :1rem;
       font-size: 1.2rem;
       display: flex;
       align-items: center;
       border-radius: 6px;
       cursor: pointer;
       border: none;
       user-select: none;
       box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
       & .icon{
         font-size: 2rem;
         margin-right: 5px;
       }
     }
  }
  & .accessCode{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    box-sizing: border-box;
    & .code{
      width: 15rem;
      display: flex;
      flex-direction: column;

    gap: 10px;
  & .textarea{
    font-size: 0.8rem;
    font-weight: 600;
    width: 13rem;
    padding: 1rem;
    border: 1px solid $main_col;
    outline: none;
    
    
  }
  & .icon{
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}
 }
  & .notice{
    width: 100%;
    padding: 14px;
    background-color: rgb(255, 172, 172);
    display: flex;
    
    align-items: center;
    & .icon{
      font-family: 1.5rem;
      margin-right: 5px;
    }
    & p{
      font-weight: 600;
      margin: 0;
      font-size: 0.8rem;
    }
  }
  & .footersection{
      background-color: $main_col; 
      padding: 2rem 2rem 1rem 2rem; 
      & .icon{
       color: white;
       font-size: 1.3rem;
       margin: 1rem;
      }
      & .head_1{
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1rem;
        & h2{
          font-size: 1rem;
        }
      }
      & .lower_footer{
        color: white;
        width: 100%;
        font-size: 14px;
        letter-spacing: 0.4mm;
        text-align: center;
        & p{
        margin: 0;
        }
      }
  }
}


@media screen and (max-width :450px) {
  .App{

    & .mainSection{
      & .col_1{
        display: flex;
        justify-content: flex-start;
        & .mainhead{
          display: flex;
          align-items: flex-start;
          padding: 0.6rem;
          & h2 {
            text-align: flex-start;
          }
          & h3{
            margin-bottom: 10px;
          }

        }
      }
      & h2{
        font-size: 1.1rem;

      }
      & .maininputSection{
        width: 85%;
        & .inputContainer{
        & .input{
          width: 100%;
        }
      }
      }
    }
  }
}